In [1]:
# dependencies
import pandas as pd

In [2]:
# csv path
csv_path = "purchase_data.csv"

In [3]:
# read the csv file and show top 5 rows
Purchase_Data = pd.read_csv(csv_path, delimiter = ",")
Purchase_Data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
len(Purchase_Data)

780

In [5]:
Purchase_Data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [6]:
# Player Count
Count_Player = len(Purchase_Data["SN"].unique())
Count_Player

576

In [7]:
# Purchasing Analysis (Total)
Number_Unique_Items = len(Purchase_Data["Item ID"].unique())
Average_Purchase_Price = Purchase_Data["Price"].mean()
Total_Number_Purchases1 = len(Purchase_Data["Purchase ID"].unique())
Total_Revenue = Purchase_Data["Price"].sum()

#Number_Unique_Items
#Average_Purchase_Price
#Total_Number_Purchases
#Total_Revenue

Summary_Purch_Analysis = pd.DataFrame({"Number of Items": [Number_Unique_Items],
                                       "Average Price in $": [Average_Purchase_Price],
                                       "Total Number of Purchases" : [Total_Number_Purchases1],
                                       "Total Revenue in $" : [Total_Revenue]})
Summary_Purch_Analysis

,Number of Items,Average Price in $,Total Number of Purchases,Total Revenue in $
0,183,3.050987,780,2379.77

In [8]:
# Gender Demographics
Gender_Counts = Purchase_Data["Gender"].value_counts()
Gender_Counts_Percent = (Gender_Counts / Count_Player) * 100
Summary_Gender_Counts = pd.DataFrame({"Gender Counts" : Gender_Counts, 
                                      "Gender Counts (%)" : Gender_Counts_Percent})
Summary_Gender_Counts

                       Gender Counts  Gender Counts (%)
Male                             652         113.194444
Female                           113          19.618056
Other / Non-Disclosed             15           2.604167

In [9]:
Purchase_Data_Group_By_Gender = Purchase_Data.groupby(["Gender"])
Purchase_Data_Group_By_Gender.count().head(10)

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [11]:
Total_Number_Purchases_ByGender = Purchase_Data_Group_By_Gender["Purchase ID"].count()
Total_Number_Purchases_ByGender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [12]:
Average_Purchase_Price_ByGender = Purchase_Data_Group_By_Gender["Price"].mean()
Average_Purchase_Price_ByGender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [13]:
Total_Revenue_ByGender = Purchase_Data_Group_By_Gender["Price"].sum()
Total_Revenue_ByGender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
Avg_Total_Purchase_Per_Person = Total_Revenue_ByGender / GenderCount_Player_Group_By_Gender
Avg_Total_Purchase_Per_Person

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [15]:

#Avg_Total_Purchase_Per_Person = Total_Number_Purchases / Total_Number_Purchases1

Summary_Purch_Analysis_By_Gender = pd.DataFrame({"Average Price in $": Average_Purchase_Price_ByGender,
                                                 "Total Number of Purchases" : Total_Number_Purchases_ByGender,
                                                 "Total Revenue in $" : Total_Revenue_ByGender,
                                                 "Avg Total Purchase per Person": Avg_Total_Purchase_Per_Person})
Summary_Purch_Analysis_By_Gender

,Average Price in $,Total Number of Purchases,Total Revenue in $,Avg Total Purchase per Person
Gender,,,,
Female,3.203009,113,361.94,3.203009
Male,3.017853,652,1967.64,3.017853
Other / Non-Disclosed,3.346000,15,50.19,3.346000

In [16]:
#Age Demographics
print(Purchase_Data["Age"].min())
print(Purchase_Data["Age"].max())

7
45

In [17]:

### Create the names for the four bins
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice the data and place it into bins
Purchase_Data["Age Group"] = pd.cut(Purchase_Data["Age"], age_bins, labels=group_names)

Purchase_Data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [18]:
# group by age group
Purchase_Data_Age = Purchase_Data.groupby("Age Group")

#Purchase Count
Purch_Count = Purchase_Data_Age["Purchase ID"].count()
Purch_Count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [19]:

Purch_Avg_Value = Purchase_Data_Age["Price"].mean()
Purch_Avg_Value

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [20]:
#Total Purchase Value
Purch_Total_Value = Purchase_Data_Age["Price"].sum()
Purch_Total_Value

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [21]:
#Average Purchase Total per Person by Age Group
#Purchase_Data_Age_Gender = Purchase_Data.groupby(["Age Group"])

#TotaPurchase_Data_Age_Gender[["Price"]].sum()
#Purchase_Data_Age[["Purchase ID"]].count()

Purch_summary_table = pd.DataFrame({"Purchase Count": Purch_Count ,
                                    "Average Purchase Price": Purch_Avg_Value ,
                                    "Total Purchase Value ": Purch_Total_Value#,
                                    #"Avg Total Purchase per Person" : 
                                   })

Purch_summary_table

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
<10                    23                3.353478                  77.13
10-14                  28                2.956429                  82.78
15-19                 136                3.035956                 412.89
20-24                 365                3.052219                1114.06
25-29                 101                2.900990                 293.00
30-34                  73                2.931507                 214.00
35-39                  41                3.601707                 147.67
40+                    13                2.941538                  38.24

In [22]:
# Top Spender
# group data by Spender
Grouped_PDSN = Purchase_Data.groupby(["SN"])

In [23]:
# Top 5 Spenders based on Total Purchase Value
Top_5_Spender_Purch_Count = Grouped_PDSN["Purchase ID"].count()
Top_5_Spender_Purch_Avg_Value = Grouped_PDSN["Price"].mean()
Top_5_Spender_Purch_Total_Value = Grouped_PDSN["Price"].sum()

Top_5_Spender_Grouped = pd.DataFrame({"Purchase Count" : Top_5_Spender_Purch_Count,
                                      "Average Purchase Price" : Top_5_Spender_Purch_Avg_Value,
                                      "Total Purchase Value " : Top_5_Spender_Purch_Total_Value
                                     })
Top_5_Spender_Grouped.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                   2.28
Adastirin33                1                    4.48                   4.48
Aeda94                     1                    4.91                   4.91
Aela59                     1                    4.32                   4.32
Aelaria33                  1                    1.79                   1.79

In [24]:
Top_5_Spender_Grouped
Top_5_Spender_Sorted = Top_5_Spender_Grouped.sort_values("Total Purchase Value", ascending = False).head(5)
Top_5_Spender_Sorted

KeyError: 'Total Purchase Value'